hgtk
huggingface-hub
jamotools
konlpy
Levenshtein
mecab-python3
mosestokenizer
nltk
numpy
openfile
pandas
protobuf
python-Levenshtein
pytorch-metric-learning
regex
scikit-learn
scipy
sentencepiece
torch==1.13.1
torchaudio==0.13.1
torchvision==0.14.1
transformers==4.35.2